.menuBar {
    background-color: #222 !important;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .menuItem {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .menuItem:hover {
    background-color: #444;
    border-radius: 5px;
  }
  
  .menuItemActive {
    border-bottom: 2px solid #fff;
  }
  